* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.responsive-nav {
  margin-top: 30px;
  padding: 10px 0;
  overflow: auto;
}

.topArrow {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 28px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topArrow i {
  color: #585858;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topArrow i:hover {
  color: #e2494c;
}

.quote {
  margin: 50px auto 0;
  text-align: center;
}

.quote p {
  margin: 0;
  color: #585858;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: capitalize;
}

.quote p i {
  position: relative;
  top: -10px;
  left: -5px;
}

.section {
  padding: 50px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.section-heading::before {
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  top: 21px;
  position: absolute;
  background-color: #b9b9b9;
  z-index: 0;
}

h2 {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
  background-color: #e2494c;
  z-index: 1;
  position: relative;
  margin: 0;
}

.container {
  margin: auto;
  padding: 0 15px;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 20px 0 30px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 575px) {
  .header {
    text-align: left;
  }
}

@media (min-width: 576px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo .logo-content h1 {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px 0 10px;
  font-size: 25px;
}

@media (min-width: 576px) {
  .header .logo .logo-content h1 {
    font-size: 2em;
  }
}

.header .logo .logo-content h1::first-letter {
  color: #e2494c;
  font-size: 32px;
}

@media (min-width: 576px) {
  .header .logo .logo-content h1::first-letter {
    font-size: 40px;
  }
}

.header .logo .logo-content p {
  text-transform: capitalize;
  color: #b9b9b9;
  margin: 0;
  font-size: 14px;
}

@media (min-width: 576px) {
  .header .logo .logo-content p {
    font-size: 1em;
  }
}

.header .logo .responsive-icon {
  display: block;
  font-size: 25px;
  margin-top: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .logo .responsive-icon:hover {
  color: #e2494c;
}

@media (min-width: 576px) {
  .header .logo .responsive-icon {
    display: none;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 3px;
  background-color: #e2494c;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
}

@media (min-width: 576px) {
  .header .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    padding: 0;
    border-radius: 10px;
    max-height: 38px;
  }
}

@media (min-width: 992px) {
  .header .nav {
    margin-top: 1em;
  }
}

.header .nav li {
  margin-left: 30px;
  padding: 5px 0;
}

@media (min-width: 576px) {
  .header .nav li {
    margin-left: 0;
    margin-right: 30px;
  }
  .header .nav li:first-of-type {
    margin-left: 30px;
  }
}

.header .nav li a {
  display: block;
  padding: 5px 0;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .nav li a:hover, .header .nav li a.active {
  color: #ffe94f;
}

.footer {
  background-color: #e2e2e2;
  padding-top: 50px;
}

.footer h3 {
  color: #777;
  margin-bottom: 35px;
}

.footer .posts,
.footer .details,
.footer .contact {
  margin: auto;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .footer .posts,
  .footer .details,
  .footer .contact {
    max-width: 470px;
  }
}

@media (max-width: 991px) {
  .footer .details p {
    line-height: 1.6;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer .posts,
  .footer .details {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 50px;
  }
  .footer .contact {
    margin: 0 0 30px;
    width: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 1200px) {
  .footer .posts,
  .footer .details,
  .footer .contact {
    float: left;
    width: 33.33333%;
    padding: 0 10px;
    margin-bottom: 0;
  }
}

.footer .posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer .posts .post .post-image {
  position: relative;
  height: 110px;
  margin-right: 10px;
  padding: 2px;
  overflow: hidden;
  width: 170px;
}

.footer .posts .post .post-image .overlay {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  background-color: rgba(226, 73, 76, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.footer .posts .post .post-image .overlay i {
  font-size: 25px;
  position: relative;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  color: #fff;
}

.footer .posts .post .post-image img {
  max-width: 100%;
}

.footer .posts .post .post-info h4 {
  color: #e2494c;
  margin: 5px 0 10px 0;
}

.footer .posts .post .post-info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #585858;
}

.footer .posts .post:hover .post-image .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer .details .details-section {
  margin-bottom: 35px;
  color: #585858;
}

.footer .details .details-section:first-of-type p {
  line-height: 1.4;
}

.footer .details .details-section p {
  font-size: 15px;
  margin: 0 0 12px;
}

.footer .details .details-section p .title {
  font-weight: 600;
  font-size: 20px;
  margin-right: 8px;
}

.footer .details .details-section p .email {
  color: #e2494c;
}

.footer .details .details-section h4 {
  margin: 0 0 10px;
}

.footer .contact input:not([type='submit']),
.footer .contact textarea {
  display: block;
  border: 0;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
}

.footer .contact input:not([type='submit'])::-webkit-input-placeholder,
.footer .contact textarea::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .contact input:not([type='submit']):-ms-input-placeholder,
.footer .contact textarea:-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .contact input:not([type='submit'])::-ms-input-placeholder,
.footer .contact textarea::-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .contact input:not([type='submit'])::placeholder,
.footer .contact textarea::placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .contact input:not([type='submit']):focus,
.footer .contact textarea:focus {
  outline: 0;
  border: 1px solid rgba(226, 73, 76, 0.6);
  -webkit-box-shadow: 0px 0px 4px #e2494c;
          box-shadow: 0px 0px 4px #e2494c;
}

.footer .contact input:not([type='submit']):focus::-webkit-input-placeholder,
.footer .contact textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.footer .contact input:not([type='submit']):focus:-ms-input-placeholder,
.footer .contact textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.footer .contact input:not([type='submit']):focus::-ms-input-placeholder,
.footer .contact textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.footer .contact input:not([type='submit']):focus::placeholder,
.footer .contact textarea:focus::placeholder {
  color: #fff;
}

.footer .contact textarea {
  resize: none;
}

.footer .contact .errorMessage,
.footer .contact .successMessage {
  padding: 10px 15px;
  border-radius: 5px;
  position: fixed;
  top: 15px;
  right: 15px;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact .errorMessage p,
.footer .contact .successMessage p {
  margin: 0;
}

.footer .contact .errorMessage p i,
.footer .contact .successMessage p i {
  margin-right: 10px;
  font-size: 18px;
  position: relative;
  top: 1px;
}

.footer .contact .errorMessage {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid rgba(226, 73, 76, 0.6);
  -webkit-box-shadow: 0px 0px 4px #e2494c;
          box-shadow: 0px 0px 4px #e2494c;
}

.footer .contact .successMessage {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  -webkit-box-shadow: 0px 0px 4px #79e249;
          box-shadow: 0px 0px 4px #79e249;
}

.footer .contact .closeMessage {
  margin-left: 10px;
  padding: 0 5px 0 10px;
  font-size: 22px;
  cursor: pointer;
}

.footer .credits {
  padding: 20px 0;
  color: #585858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

@media (min-width: 576px) {
  .footer .credits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .credits .copyright {
  margin-bottom: 20px;
}

.footer .credits .copyright span {
  color: #e2494c;
}

@media (min-width: 576px) {
  .footer .credits .copyright {
    margin-bottom: 0;
  }
}

.footer .credits .links a {
  color: #585858;
  padding: 0 5px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .credits .links a:hover {
  color: #e2494c;
}

.main-button {
  background-color: #e2494c;
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  min-width: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-button:hover {
  opacity: 0.85;
}

.main-button:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 5px #e2494c;
          box-shadow: 0px 0px 5px #e2494c;
  border: 1px solid #e2494c;
}

.subscribe-button {
  background-color: #e2494c;
  color: #fff;
  padding: 16px 25px;
  font-weight: bold;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0;
  cursor: pointer;
  min-width: 120px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  left: -5px;
}

.subscribe-button:hover {
  opacity: 0.9;
}

.subscribe-button:focus {
  outline: 0;
}

@media (max-width: 575px) {
  .subscribe-button {
    padding: 10px 10px;
    min-width: 84px;
  }
}

.lesson-button {
  display: block;
  width: 100%;
  border: 0;
  padding: 8px 0;
  text-align: center;
  border-radius: 4px;
  background-color: #e2494c;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lesson-button:hover {
  opacity: 0.8;
}

.lesson-button:focus {
  outline: 0;
}

.login {
  text-align: center;
}

.login p {
  color: #585858;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 auto 40px;
  text-transform: capitalize;
}

.login .form-container {
  max-width: 400px;
  margin: auto;
}

.login form input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(226, 73, 76, 0.6);
}

.login form input::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login form input:-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login form input::-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login form input::placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login form input:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 4px #e2494c;
          box-shadow: 0px 0px 4px #e2494c;
}

.login form input:focus::-webkit-input-placeholder {
  color: #fff;
}

.login form input:focus:-ms-input-placeholder {
  color: #fff;
}

.login form input:focus::-ms-input-placeholder {
  color: #fff;
}

.login form input:focus::placeholder {
  color: #fff;
}

.login .links {
  text-align: left;
}

.login .links a {
  color: #e2494c;
  font-size: 15px;
  font-weight: bold;
}

.slider {
  text-align: center;
  padding-bottom: 0;
}

.slider .sliderImage {
  background-image: url(../images/slider-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1000px;
  max-height: 400px;
  min-height: 320px;
  margin: auto;
}

.slider ul {
  margin: 15px auto;
}

.slider ul li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color: #b9b9b9;
}

.slider ul li.active {
  background-color: #e2494c;
  cursor: default;
}

.slider ul li:nth-of-type(2) {
  margin: 0 5px;
}

.services .service {
  text-align: center;
}

.services .service:not(:last-of-type) {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .services .service {
    float: left;
    width: 50%;
  }
  .services .service:first-of-type {
    padding-right: 20px;
  }
  .services .service:last-of-type {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  .services .service {
    text-align: left;
    width: 33.33333%;
  }
  .services .service:last-of-type {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .services .service:not(:last-of-type) {
    margin-bottom: 0;
    padding-right: 20px;
  }
}

.services .service h3 i {
  margin-right: 10px;
  font-size: 35px;
  position: relative;
  top: 5px;
}

.services .service p {
  color: #585858;
  line-height: 1.5;
}

.services .service a {
  color: #e2494c;
  font-weight: bold;
}

.services .service a:hover {
  opacity: 0.9;
}

.team .members {
  margin: auto;
}

.team .members .member {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {
  .team .members .member {
    float: left;
    width: 49%;
  }
  .team .members .member:nth-of-type(5) {
    margin-bottom: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .team .members .member {
    float: left;
    width: 32%;
  }
  .team .members .member:nth-of-type(2) {
    margin: 0 2%;
  }
  .team .members .member:nth-of-type(4) {
    margin-right: 2%;
  }
  .team .members .member:nth-of-type(4), .team .members .member:nth-of-type(5) {
    margin-bottom: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 992px) {
  .team .members .member {
    text-align: left;
    float: left;
    width: 19%;
    margin-bottom: 0;
  }
  .team .members .member:not(:last-of-type) {
    margin-right: 1%;
  }
}

.team .members .member img {
  text-align: center;
  max-width: 100%;
  max-height: 190px;
}

.team .members .member h3 {
  font-weight: bold;
}

.team .members .member p {
  color: #585858;
  line-height: 1.4;
}

.team .members .member a {
  color: #e2494c;
  font-weight: bold;
}

.team .members .member a:hover {
  opacity: 0.9;
}

.activities .our-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  .activities .our-activities {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.activities .activity {
  width: 100%;
  max-width: 314px;
  margin: 0 auto 30px;
  text-align: center;
  padding: 25px 30px;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 5px #e2494c;
          box-shadow: 0px 0px 5px #e2494c;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.activities .activity i {
  font-size: 40px;
}

.activities .activity h3 {
  margin: 30px 0 0;
}

.activities .activity:hover {
  background-color: #e2494c;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .activities .activity {
    width: 50%;
  }
  .activities .activity:nth-of-type(odd) {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .activities .activity {
    width: 25%;
    margin: 0;
  }
  .activities .activity:not(:last-of-type) {
    margin-right: 20px;
  }
}

.newsletter .newsletter-content {
  text-align: center;
}

.newsletter .newsletter-content > p {
  color: #585858;
  letter-spacing: 1px;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 20px;
  text-transform: capitalize;
}

.newsletter .newsletter-content input {
  padding: 15px 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: calc(90% - 120px);
  border: 1px solid #e2494c;
  border-right: 0;
}

.newsletter .newsletter-content input::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter .newsletter-content input:-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter .newsletter-content input::-ms-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter .newsletter-content input::placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter .newsletter-content input:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 5px #e2494c;
          box-shadow: 0px 0px 5px #e2494c;
  border: 1px solid #e2494c;
}

.newsletter .newsletter-content input:focus::-webkit-input-placeholder {
  color: #fff;
}

.newsletter .newsletter-content input:focus:-ms-input-placeholder {
  color: #fff;
}

.newsletter .newsletter-content input:focus::-ms-input-placeholder {
  color: #fff;
}

.newsletter .newsletter-content input:focus::placeholder {
  color: #fff;
}

@media (max-width: 575px) {
  .newsletter .newsletter-content input {
    padding: 9px 15px;
    width: calc(100% - 105px);
  }
}

@media (min-width: 992px) {
  .newsletter .newsletter-content input {
    width: calc(80% - 120px);
  }
}

.newsletter .newsletter-content .subscribed-message {
  padding: 10px 15px;
  border-radius: 5px;
  position: fixed;
  top: 15px;
  right: 15px;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  -webkit-box-shadow: 0px 0px 4px #79e249;
          box-shadow: 0px 0px 4px #79e249;
}

.newsletter .newsletter-content .subscribed-message p {
  margin: 0;
}

.newsletter .newsletter-content .subscribed-message p i {
  margin-right: 10px;
  font-size: 18px;
  position: relative;
  top: 1px;
}

.newsletter .newsletter-content .subscribed-message .closeMessage {
  margin-left: 10px;
  padding: 0 5px 0 10px;
  font-size: 22px;
  cursor: pointer;
}

.summary {
  padding-bottom: 0;
}

.summary .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summary .dashboard > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 150px;
  border-radius: 8px;
  color: #fff;
  padding: 15px;
  width: 270px;
  margin-bottom: 30px;
}

.summary .dashboard > div.lessons {
  background-color: #dc3545;
}

.summary .dashboard > div.teachers {
  background-color: #007bff;
}

.summary .dashboard > div.exams {
  background-color: #ffc107;
}

.summary .dashboard > div.duties {
  background-color: #28a745;
}

.summary .dashboard > div .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summary .dashboard > div .info .number {
  font-size: 80px;
}

.summary .dashboard > div .icon i {
  font-size: 80px;
}

.lessons,
.quizes,
.grades {
  padding-bottom: 0;
}

.lessons .lessons-content,
.lessons .quizes-content,
.lessons .grades-content,
.quizes .lessons-content,
.quizes .quizes-content,
.quizes .grades-content,
.grades .lessons-content,
.grades .quizes-content,
.grades .grades-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1200px) {
  .lessons .lessons-content,
  .lessons .quizes-content,
  .lessons .grades-content,
  .quizes .lessons-content,
  .quizes .quizes-content,
  .quizes .grades-content,
  .grades .lessons-content,
  .grades .quizes-content,
  .grades .grades-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.lessons .lessons-content .lesson,
.lessons .lessons-content .quiz,
.lessons .lessons-content .grade,
.lessons .quizes-content .lesson,
.lessons .quizes-content .quiz,
.lessons .quizes-content .grade,
.lessons .grades-content .lesson,
.lessons .grades-content .quiz,
.lessons .grades-content .grade,
.quizes .lessons-content .lesson,
.quizes .lessons-content .quiz,
.quizes .lessons-content .grade,
.quizes .quizes-content .lesson,
.quizes .quizes-content .quiz,
.quizes .quizes-content .grade,
.quizes .grades-content .lesson,
.quizes .grades-content .quiz,
.quizes .grades-content .grade,
.grades .lessons-content .lesson,
.grades .lessons-content .quiz,
.grades .lessons-content .grade,
.grades .quizes-content .lesson,
.grades .quizes-content .quiz,
.grades .quizes-content .grade,
.grades .grades-content .lesson,
.grades .grades-content .quiz,
.grades .grades-content .grade {
  width: 275px;
  height: 320px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
  padding: 0 15px;
  overflow: hidden;
}

.lessons .lessons-content .lesson.math,
.lessons .lessons-content .quiz.math,
.lessons .lessons-content .grade.math,
.lessons .quizes-content .lesson.math,
.lessons .quizes-content .quiz.math,
.lessons .quizes-content .grade.math,
.lessons .grades-content .lesson.math,
.lessons .grades-content .quiz.math,
.lessons .grades-content .grade.math,
.quizes .lessons-content .lesson.math,
.quizes .lessons-content .quiz.math,
.quizes .lessons-content .grade.math,
.quizes .quizes-content .lesson.math,
.quizes .quizes-content .quiz.math,
.quizes .quizes-content .grade.math,
.quizes .grades-content .lesson.math,
.quizes .grades-content .quiz.math,
.quizes .grades-content .grade.math,
.grades .lessons-content .lesson.math,
.grades .lessons-content .quiz.math,
.grades .lessons-content .grade.math,
.grades .quizes-content .lesson.math,
.grades .quizes-content .quiz.math,
.grades .quizes-content .grade.math,
.grades .grades-content .lesson.math,
.grades .grades-content .quiz.math,
.grades .grades-content .grade.math {
  background-image: url("../images/lesson-math.jpg");
}

.lessons .lessons-content .lesson.science,
.lessons .lessons-content .quiz.science,
.lessons .lessons-content .grade.science,
.lessons .quizes-content .lesson.science,
.lessons .quizes-content .quiz.science,
.lessons .quizes-content .grade.science,
.lessons .grades-content .lesson.science,
.lessons .grades-content .quiz.science,
.lessons .grades-content .grade.science,
.quizes .lessons-content .lesson.science,
.quizes .lessons-content .quiz.science,
.quizes .lessons-content .grade.science,
.quizes .quizes-content .lesson.science,
.quizes .quizes-content .quiz.science,
.quizes .quizes-content .grade.science,
.quizes .grades-content .lesson.science,
.quizes .grades-content .quiz.science,
.quizes .grades-content .grade.science,
.grades .lessons-content .lesson.science,
.grades .lessons-content .quiz.science,
.grades .lessons-content .grade.science,
.grades .quizes-content .lesson.science,
.grades .quizes-content .quiz.science,
.grades .quizes-content .grade.science,
.grades .grades-content .lesson.science,
.grades .grades-content .quiz.science,
.grades .grades-content .grade.science {
  background-image: url("../images/lesson-science.jpg");
}

.lessons .lessons-content .lesson.art,
.lessons .lessons-content .quiz.art,
.lessons .lessons-content .grade.art,
.lessons .quizes-content .lesson.art,
.lessons .quizes-content .quiz.art,
.lessons .quizes-content .grade.art,
.lessons .grades-content .lesson.art,
.lessons .grades-content .quiz.art,
.lessons .grades-content .grade.art,
.quizes .lessons-content .lesson.art,
.quizes .lessons-content .quiz.art,
.quizes .lessons-content .grade.art,
.quizes .quizes-content .lesson.art,
.quizes .quizes-content .quiz.art,
.quizes .quizes-content .grade.art,
.quizes .grades-content .lesson.art,
.quizes .grades-content .quiz.art,
.quizes .grades-content .grade.art,
.grades .lessons-content .lesson.art,
.grades .lessons-content .quiz.art,
.grades .lessons-content .grade.art,
.grades .quizes-content .lesson.art,
.grades .quizes-content .quiz.art,
.grades .quizes-content .grade.art,
.grades .grades-content .lesson.art,
.grades .grades-content .quiz.art,
.grades .grades-content .grade.art {
  background-image: url("../images/lesson-art.jpg");
}

.lessons .lessons-content .lesson.english,
.lessons .lessons-content .quiz.english,
.lessons .lessons-content .grade.english,
.lessons .quizes-content .lesson.english,
.lessons .quizes-content .quiz.english,
.lessons .quizes-content .grade.english,
.lessons .grades-content .lesson.english,
.lessons .grades-content .quiz.english,
.lessons .grades-content .grade.english,
.quizes .lessons-content .lesson.english,
.quizes .lessons-content .quiz.english,
.quizes .lessons-content .grade.english,
.quizes .quizes-content .lesson.english,
.quizes .quizes-content .quiz.english,
.quizes .quizes-content .grade.english,
.quizes .grades-content .lesson.english,
.quizes .grades-content .quiz.english,
.quizes .grades-content .grade.english,
.grades .lessons-content .lesson.english,
.grades .lessons-content .quiz.english,
.grades .lessons-content .grade.english,
.grades .quizes-content .lesson.english,
.grades .quizes-content .quiz.english,
.grades .quizes-content .grade.english,
.grades .grades-content .lesson.english,
.grades .grades-content .quiz.english,
.grades .grades-content .grade.english {
  background-image: url("../images/lesson-english.jpg");
}

.lessons .lessons-content .lesson.geography,
.lessons .lessons-content .quiz.geography,
.lessons .lessons-content .grade.geography,
.lessons .quizes-content .lesson.geography,
.lessons .quizes-content .quiz.geography,
.lessons .quizes-content .grade.geography,
.lessons .grades-content .lesson.geography,
.lessons .grades-content .quiz.geography,
.lessons .grades-content .grade.geography,
.quizes .lessons-content .lesson.geography,
.quizes .lessons-content .quiz.geography,
.quizes .lessons-content .grade.geography,
.quizes .quizes-content .lesson.geography,
.quizes .quizes-content .quiz.geography,
.quizes .quizes-content .grade.geography,
.quizes .grades-content .lesson.geography,
.quizes .grades-content .quiz.geography,
.quizes .grades-content .grade.geography,
.grades .lessons-content .lesson.geography,
.grades .lessons-content .quiz.geography,
.grades .lessons-content .grade.geography,
.grades .quizes-content .lesson.geography,
.grades .quizes-content .quiz.geography,
.grades .quizes-content .grade.geography,
.grades .grades-content .lesson.geography,
.grades .grades-content .quiz.geography,
.grades .grades-content .grade.geography {
  background-image: url("../images/lesson-geography.jpg");
}

.lessons .lessons-content .lesson.computer,
.lessons .lessons-content .quiz.computer,
.lessons .lessons-content .grade.computer,
.lessons .quizes-content .lesson.computer,
.lessons .quizes-content .quiz.computer,
.lessons .quizes-content .grade.computer,
.lessons .grades-content .lesson.computer,
.lessons .grades-content .quiz.computer,
.lessons .grades-content .grade.computer,
.quizes .lessons-content .lesson.computer,
.quizes .lessons-content .quiz.computer,
.quizes .lessons-content .grade.computer,
.quizes .quizes-content .lesson.computer,
.quizes .quizes-content .quiz.computer,
.quizes .quizes-content .grade.computer,
.quizes .grades-content .lesson.computer,
.quizes .grades-content .quiz.computer,
.quizes .grades-content .grade.computer,
.grades .lessons-content .lesson.computer,
.grades .lessons-content .quiz.computer,
.grades .lessons-content .grade.computer,
.grades .quizes-content .lesson.computer,
.grades .quizes-content .quiz.computer,
.grades .quizes-content .grade.computer,
.grades .grades-content .lesson.computer,
.grades .grades-content .quiz.computer,
.grades .grades-content .grade.computer {
  background-image: url("../images/lesson-computer.png");
}

.lessons .lessons-content .lesson.chemistry,
.lessons .lessons-content .quiz.chemistry,
.lessons .lessons-content .grade.chemistry,
.lessons .quizes-content .lesson.chemistry,
.lessons .quizes-content .quiz.chemistry,
.lessons .quizes-content .grade.chemistry,
.lessons .grades-content .lesson.chemistry,
.lessons .grades-content .quiz.chemistry,
.lessons .grades-content .grade.chemistry,
.quizes .lessons-content .lesson.chemistry,
.quizes .lessons-content .quiz.chemistry,
.quizes .lessons-content .grade.chemistry,
.quizes .quizes-content .lesson.chemistry,
.quizes .quizes-content .quiz.chemistry,
.quizes .quizes-content .grade.chemistry,
.quizes .grades-content .lesson.chemistry,
.quizes .grades-content .quiz.chemistry,
.quizes .grades-content .grade.chemistry,
.grades .lessons-content .lesson.chemistry,
.grades .lessons-content .quiz.chemistry,
.grades .lessons-content .grade.chemistry,
.grades .quizes-content .lesson.chemistry,
.grades .quizes-content .quiz.chemistry,
.grades .quizes-content .grade.chemistry,
.grades .grades-content .lesson.chemistry,
.grades .grades-content .quiz.chemistry,
.grades .grades-content .grade.chemistry {
  background-image: url("../images/lesson-chemistry.jpg");
}

.lessons .lessons-content .lesson.physics,
.lessons .lessons-content .quiz.physics,
.lessons .lessons-content .grade.physics,
.lessons .quizes-content .lesson.physics,
.lessons .quizes-content .quiz.physics,
.lessons .quizes-content .grade.physics,
.lessons .grades-content .lesson.physics,
.lessons .grades-content .quiz.physics,
.lessons .grades-content .grade.physics,
.quizes .lessons-content .lesson.physics,
.quizes .lessons-content .quiz.physics,
.quizes .lessons-content .grade.physics,
.quizes .quizes-content .lesson.physics,
.quizes .quizes-content .quiz.physics,
.quizes .quizes-content .grade.physics,
.quizes .grades-content .lesson.physics,
.quizes .grades-content .quiz.physics,
.quizes .grades-content .grade.physics,
.grades .lessons-content .lesson.physics,
.grades .lessons-content .quiz.physics,
.grades .lessons-content .grade.physics,
.grades .quizes-content .lesson.physics,
.grades .quizes-content .quiz.physics,
.grades .quizes-content .grade.physics,
.grades .grades-content .lesson.physics,
.grades .grades-content .quiz.physics,
.grades .grades-content .grade.physics {
  background-image: url("../images/lesson-physics.jpg");
}

.lessons .lessons-content .lesson.grade-1,
.lessons .lessons-content .quiz.grade-1,
.lessons .lessons-content .grade.grade-1,
.lessons .quizes-content .lesson.grade-1,
.lessons .quizes-content .quiz.grade-1,
.lessons .quizes-content .grade.grade-1,
.lessons .grades-content .lesson.grade-1,
.lessons .grades-content .quiz.grade-1,
.lessons .grades-content .grade.grade-1,
.quizes .lessons-content .lesson.grade-1,
.quizes .lessons-content .quiz.grade-1,
.quizes .lessons-content .grade.grade-1,
.quizes .quizes-content .lesson.grade-1,
.quizes .quizes-content .quiz.grade-1,
.quizes .quizes-content .grade.grade-1,
.quizes .grades-content .lesson.grade-1,
.quizes .grades-content .quiz.grade-1,
.quizes .grades-content .grade.grade-1,
.grades .lessons-content .lesson.grade-1,
.grades .lessons-content .quiz.grade-1,
.grades .lessons-content .grade.grade-1,
.grades .quizes-content .lesson.grade-1,
.grades .quizes-content .quiz.grade-1,
.grades .quizes-content .grade.grade-1,
.grades .grades-content .lesson.grade-1,
.grades .grades-content .quiz.grade-1,
.grades .grades-content .grade.grade-1 {
  background-image: url("../images/grade-1.jpg");
}

.lessons .lessons-content .lesson.grade-2,
.lessons .lessons-content .quiz.grade-2,
.lessons .lessons-content .grade.grade-2,
.lessons .quizes-content .lesson.grade-2,
.lessons .quizes-content .quiz.grade-2,
.lessons .quizes-content .grade.grade-2,
.lessons .grades-content .lesson.grade-2,
.lessons .grades-content .quiz.grade-2,
.lessons .grades-content .grade.grade-2,
.quizes .lessons-content .lesson.grade-2,
.quizes .lessons-content .quiz.grade-2,
.quizes .lessons-content .grade.grade-2,
.quizes .quizes-content .lesson.grade-2,
.quizes .quizes-content .quiz.grade-2,
.quizes .quizes-content .grade.grade-2,
.quizes .grades-content .lesson.grade-2,
.quizes .grades-content .quiz.grade-2,
.quizes .grades-content .grade.grade-2,
.grades .lessons-content .lesson.grade-2,
.grades .lessons-content .quiz.grade-2,
.grades .lessons-content .grade.grade-2,
.grades .quizes-content .lesson.grade-2,
.grades .quizes-content .quiz.grade-2,
.grades .quizes-content .grade.grade-2,
.grades .grades-content .lesson.grade-2,
.grades .grades-content .quiz.grade-2,
.grades .grades-content .grade.grade-2 {
  background-image: url("../images/grade-2.jpg");
}

.lessons .lessons-content .lesson.grade-3,
.lessons .lessons-content .quiz.grade-3,
.lessons .lessons-content .grade.grade-3,
.lessons .quizes-content .lesson.grade-3,
.lessons .quizes-content .quiz.grade-3,
.lessons .quizes-content .grade.grade-3,
.lessons .grades-content .lesson.grade-3,
.lessons .grades-content .quiz.grade-3,
.lessons .grades-content .grade.grade-3,
.quizes .lessons-content .lesson.grade-3,
.quizes .lessons-content .quiz.grade-3,
.quizes .lessons-content .grade.grade-3,
.quizes .quizes-content .lesson.grade-3,
.quizes .quizes-content .quiz.grade-3,
.quizes .quizes-content .grade.grade-3,
.quizes .grades-content .lesson.grade-3,
.quizes .grades-content .quiz.grade-3,
.quizes .grades-content .grade.grade-3,
.grades .lessons-content .lesson.grade-3,
.grades .lessons-content .quiz.grade-3,
.grades .lessons-content .grade.grade-3,
.grades .quizes-content .lesson.grade-3,
.grades .quizes-content .quiz.grade-3,
.grades .quizes-content .grade.grade-3,
.grades .grades-content .lesson.grade-3,
.grades .grades-content .quiz.grade-3,
.grades .grades-content .grade.grade-3 {
  background-image: url("../images/grade-3.jpg");
}

.lessons .lessons-content .lesson.grade-4,
.lessons .lessons-content .quiz.grade-4,
.lessons .lessons-content .grade.grade-4,
.lessons .quizes-content .lesson.grade-4,
.lessons .quizes-content .quiz.grade-4,
.lessons .quizes-content .grade.grade-4,
.lessons .grades-content .lesson.grade-4,
.lessons .grades-content .quiz.grade-4,
.lessons .grades-content .grade.grade-4,
.quizes .lessons-content .lesson.grade-4,
.quizes .lessons-content .quiz.grade-4,
.quizes .lessons-content .grade.grade-4,
.quizes .quizes-content .lesson.grade-4,
.quizes .quizes-content .quiz.grade-4,
.quizes .quizes-content .grade.grade-4,
.quizes .grades-content .lesson.grade-4,
.quizes .grades-content .quiz.grade-4,
.quizes .grades-content .grade.grade-4,
.grades .lessons-content .lesson.grade-4,
.grades .lessons-content .quiz.grade-4,
.grades .lessons-content .grade.grade-4,
.grades .quizes-content .lesson.grade-4,
.grades .quizes-content .quiz.grade-4,
.grades .quizes-content .grade.grade-4,
.grades .grades-content .lesson.grade-4,
.grades .grades-content .quiz.grade-4,
.grades .grades-content .grade.grade-4 {
  background-image: url("../images/grade-4.jpg");
}

.lessons .lessons-content .lesson .overlay,
.lessons .lessons-content .quiz .overlay,
.lessons .lessons-content .grade .overlay,
.lessons .quizes-content .lesson .overlay,
.lessons .quizes-content .quiz .overlay,
.lessons .quizes-content .grade .overlay,
.lessons .grades-content .lesson .overlay,
.lessons .grades-content .quiz .overlay,
.lessons .grades-content .grade .overlay,
.quizes .lessons-content .lesson .overlay,
.quizes .lessons-content .quiz .overlay,
.quizes .lessons-content .grade .overlay,
.quizes .quizes-content .lesson .overlay,
.quizes .quizes-content .quiz .overlay,
.quizes .quizes-content .grade .overlay,
.quizes .grades-content .lesson .overlay,
.quizes .grades-content .quiz .overlay,
.quizes .grades-content .grade .overlay,
.grades .lessons-content .lesson .overlay,
.grades .lessons-content .quiz .overlay,
.grades .lessons-content .grade .overlay,
.grades .quizes-content .lesson .overlay,
.grades .quizes-content .quiz .overlay,
.grades .quizes-content .grade .overlay,
.grades .grades-content .lesson .overlay,
.grades .grades-content .quiz .overlay,
.grades .grades-content .grade .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.lessons .lessons-content .lesson .new,
.lessons .lessons-content .lesson .chance,
.lessons .lessons-content .quiz .new,
.lessons .lessons-content .quiz .chance,
.lessons .lessons-content .grade .new,
.lessons .lessons-content .grade .chance,
.lessons .quizes-content .lesson .new,
.lessons .quizes-content .lesson .chance,
.lessons .quizes-content .quiz .new,
.lessons .quizes-content .quiz .chance,
.lessons .quizes-content .grade .new,
.lessons .quizes-content .grade .chance,
.lessons .grades-content .lesson .new,
.lessons .grades-content .lesson .chance,
.lessons .grades-content .quiz .new,
.lessons .grades-content .quiz .chance,
.lessons .grades-content .grade .new,
.lessons .grades-content .grade .chance,
.quizes .lessons-content .lesson .new,
.quizes .lessons-content .lesson .chance,
.quizes .lessons-content .quiz .new,
.quizes .lessons-content .quiz .chance,
.quizes .lessons-content .grade .new,
.quizes .lessons-content .grade .chance,
.quizes .quizes-content .lesson .new,
.quizes .quizes-content .lesson .chance,
.quizes .quizes-content .quiz .new,
.quizes .quizes-content .quiz .chance,
.quizes .quizes-content .grade .new,
.quizes .quizes-content .grade .chance,
.quizes .grades-content .lesson .new,
.quizes .grades-content .lesson .chance,
.quizes .grades-content .quiz .new,
.quizes .grades-content .quiz .chance,
.quizes .grades-content .grade .new,
.quizes .grades-content .grade .chance,
.grades .lessons-content .lesson .new,
.grades .lessons-content .lesson .chance,
.grades .lessons-content .quiz .new,
.grades .lessons-content .quiz .chance,
.grades .lessons-content .grade .new,
.grades .lessons-content .grade .chance,
.grades .quizes-content .lesson .new,
.grades .quizes-content .lesson .chance,
.grades .quizes-content .quiz .new,
.grades .quizes-content .quiz .chance,
.grades .quizes-content .grade .new,
.grades .quizes-content .grade .chance,
.grades .grades-content .lesson .new,
.grades .grades-content .lesson .chance,
.grades .grades-content .quiz .new,
.grades .grades-content .quiz .chance,
.grades .grades-content .grade .new,
.grades .grades-content .grade .chance {
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: #28a745;
  padding: 5px 15px;
  color: #fff;
  z-index: 2;
  border-radius: 2px;
  font-size: 14px;
}

.lessons .lessons-content .lesson .info,
.lessons .lessons-content .quiz .info,
.lessons .lessons-content .grade .info,
.lessons .quizes-content .lesson .info,
.lessons .quizes-content .quiz .info,
.lessons .quizes-content .grade .info,
.lessons .grades-content .lesson .info,
.lessons .grades-content .quiz .info,
.lessons .grades-content .grade .info,
.quizes .lessons-content .lesson .info,
.quizes .lessons-content .quiz .info,
.quizes .lessons-content .grade .info,
.quizes .quizes-content .lesson .info,
.quizes .quizes-content .quiz .info,
.quizes .quizes-content .grade .info,
.quizes .grades-content .lesson .info,
.quizes .grades-content .quiz .info,
.quizes .grades-content .grade .info,
.grades .lessons-content .lesson .info,
.grades .lessons-content .quiz .info,
.grades .lessons-content .grade .info,
.grades .quizes-content .lesson .info,
.grades .quizes-content .quiz .info,
.grades .quizes-content .grade .info,
.grades .grades-content .lesson .info,
.grades .grades-content .quiz .info,
.grades .grades-content .grade .info {
  position: relative;
  margin-top: 185px;
  z-index: 2;
}

.lessons .lessons-content .lesson .info h4,
.lessons .lessons-content .quiz .info h4,
.lessons .lessons-content .grade .info h4,
.lessons .quizes-content .lesson .info h4,
.lessons .quizes-content .quiz .info h4,
.lessons .quizes-content .grade .info h4,
.lessons .grades-content .lesson .info h4,
.lessons .grades-content .quiz .info h4,
.lessons .grades-content .grade .info h4,
.quizes .lessons-content .lesson .info h4,
.quizes .lessons-content .quiz .info h4,
.quizes .lessons-content .grade .info h4,
.quizes .quizes-content .lesson .info h4,
.quizes .quizes-content .quiz .info h4,
.quizes .quizes-content .grade .info h4,
.quizes .grades-content .lesson .info h4,
.quizes .grades-content .quiz .info h4,
.quizes .grades-content .grade .info h4,
.grades .lessons-content .lesson .info h4,
.grades .lessons-content .quiz .info h4,
.grades .lessons-content .grade .info h4,
.grades .quizes-content .lesson .info h4,
.grades .quizes-content .quiz .info h4,
.grades .quizes-content .grade .info h4,
.grades .grades-content .lesson .info h4,
.grades .grades-content .quiz .info h4,
.grades .grades-content .grade .info h4 {
  margin: 0;
}

.lessons .lessons-content .lesson .info p,
.lessons .lessons-content .quiz .info p,
.lessons .lessons-content .grade .info p,
.lessons .quizes-content .lesson .info p,
.lessons .quizes-content .quiz .info p,
.lessons .quizes-content .grade .info p,
.lessons .grades-content .lesson .info p,
.lessons .grades-content .quiz .info p,
.lessons .grades-content .grade .info p,
.quizes .lessons-content .lesson .info p,
.quizes .lessons-content .quiz .info p,
.quizes .lessons-content .grade .info p,
.quizes .quizes-content .lesson .info p,
.quizes .quizes-content .quiz .info p,
.quizes .quizes-content .grade .info p,
.quizes .grades-content .lesson .info p,
.quizes .grades-content .quiz .info p,
.quizes .grades-content .grade .info p,
.grades .lessons-content .lesson .info p,
.grades .lessons-content .quiz .info p,
.grades .lessons-content .grade .info p,
.grades .quizes-content .lesson .info p,
.grades .quizes-content .quiz .info p,
.grades .quizes-content .grade .info p,
.grades .grades-content .lesson .info p,
.grades .grades-content .quiz .info p,
.grades .grades-content .grade .info p {
  margin: 15px 0 25px;
  color: #b9b9b9;
  font-size: 14px;
}

.duties .duties-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.duties .duties-content > div {
  margin-bottom: 40px;
  min-width: 29 0px;
}

.duties .duties-content .duty {
  margin-bottom: 25px;
}

.duties .duties-content .duty:last-of-type {
  margin-bottom: 0;
}

.duties .duties-content .duty [type='checkbox']:not(:checked),
.duties .duties-content .duty [type='checkbox']:checked {
  position: absolute;
  left: -9999px;
}

.duties .duties-content .duty [type='checkbox']:not(:checked) + label,
.duties .duties-content .duty [type='checkbox']:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.duties .duties-content .duty [type='checkbox']:checked + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #f77275;
  background: #e2494c;
  border-radius: 4px;
}

.duties .duties-content .duty [type='checkbox']:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 22px;
  line-height: 0.8;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

.duties .duties-content .duty [type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cfcfcf;
  background: #efefef;
  border-radius: 4px;
}

.duties .duties-content .duty [type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 22px;
  line-height: 0.8;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

.marks .marks-content {
  white-space: nowrap;
  overflow-x: auto;
}

.marks .marks-content table {
  width: 90%;
  margin: auto;
}

.marks .marks-content table,
.marks .marks-content table td,
.marks .marks-content table th {
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 10px 15px;
}

.marks .marks-content table thead {
  text-align: left;
}

.marks .marks-content table tr:nth-of-type(even),
.marks .marks-content table thead {
  background-color: #eee;
}
