// Colors
$main-color: #e2494c;
$gray-color: #b9b9b9;
$paragraph-color: #585858;
$footer-color: #e2e2e2;
$footer-heading-color: #777;

// Dashboard Colors
$dashboard-red: #dc3545;
$dashboard-green: #28a745;
$dashboard-yellow: #ffc107;
$dashboard-blue: #007bff;

// Media Breakpoints
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1200px)';

$m-sm: '(max-width: 575px)';
$m-md: '(max-width: 767px)';
$m-lg: '(max-width: 991px)';
$m-xl: '(max-width: 1199px)';
