.login {
  text-align: center;
  p {
    color: #585858;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0 auto 40px;
    text-transform: capitalize;
  }
  .form-container {
    max-width: 400px;
    margin: auto;
  }
  form {
    input {
      display: block;
      margin-bottom: 15px;
      width: 100%;
      padding: 10px 15px;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid rgba($main-color, 0.6);
      &::placeholder {
        transition: 0.3s;
      }
      &:focus {
        outline: 0;
        box-shadow: 0px 0px 4px $main-color;
        &::placeholder {
          color: #fff;
        }
      }
    }
  }
  .links {
    text-align: left;
    a {
      color: $main-color;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
